# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Env
.env

# Logs
*.log

# IDE
.vscode/
.vs/

# Build output
bin/
build/

# Node (if ever present)
node_modules/

# Docker
docker-compose*
compose.y*ml

# Misc
*.proj.user
*.dbmdl
*.jfm
